body {
  background: rgb(115,12,50);
  background: radial-gradient(circle, rgba(115,12,50,1) 5%, rgba(13,12,12,1) 60%);
  min-height: 100vh;
}

.user-ava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-cocktails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-cocktails-container > h3 {
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

